.git
.gitignore
Dockerfile
docker-compose*.yml
docker-compose*.yaml

# package managers
node_modules
.pnp
.pnp.*
.yarn

# build artifacts
.next
out
build
coverage

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# hosting/platform
.vercel
